<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ mainTitle|e }}</title>
    {{ assets.outputCss('header') }}
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {{ content() }}
      <div class="footer">
        <p>&copy; Daniel Bruce {{ date('Y') }}</p>
      </div>
    </div> <!-- /container -->
    {{ assets.outputJs('footer') }}
  </body>
</html>
